*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    /* line-height: 0.5; */
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: #fff;
    line-height: 1.6;

}

/* utilities */
a{
    text-decoration: none;
    color: #000;
}

h1, h2{
    font-weight: 300px; 
    line-height: 1.2;
    margin: 10px 0;
    overflow-y: hidden
}

/* header and nav start*/
header{
    background: #2F7AED;
    height: 70px;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-bottom: 5px solid #fff;
}

ul{
    list-style: none;
}

.flex ul {
    display: flex;
    margin: 0 10px;
    padding: 0 10px;
    flex-wrap: wrap;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}

header .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    cursor: pointer;
}



.active{
   border: 2px  dashed #fff;
}
/* header and nav end*/


/* main-area start*/
.main-area{
    background-color: #333;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.btn{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: auto;
    width: 150px;
}

.btn:hover{
    background: #2F7AED;
    border: none;
    cursor: pointer;
}

/* main-area ends*/

/* contact me starts */

#my-form{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    outline: none;
}

form label{
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

#my-form input[type="text"], input[type="email"]{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 7px;
}

#my-form textarea{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 7px;
}

#my-form input[type="submit"]{
    width: 100%;
}

form input, textarea{
    outline: none;
}

/* contact me ends */

