*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: #fff;
    line-height: 1.6;
}

/* utilities */
a{
    text-decoration: none;
    color: #000;
}

h1, h2{
    font-weight: 300px; 
    line-height: 1.2;
    margin: 10px 0;
    overflow-y: hidden
}

/* header and nav start*/
header{
    background: #2F7AED;
    height: 70px;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-bottom: 5px solid #fff;
}

ul{
    list-style: none;
}

.flex ul {
    display: flex;
    margin: 0 10px;
    padding: 0 10px;
    flex-wrap: wrap;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}

header .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}



.active{
   background-color: #D33B5A;
}
/* header and nav end*/


/* main-area start*/
.main-area{
    background-color: #333;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.profile img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-top: 15px solid #D33B5A;
    border-bottom: 15px solid #2F7AED;
    border-left: 15px solid #D33B5A;
    border-radius: 55px 0 35px 35px; 
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);

}

.sub-text{
    text-align: center;
    margin-top: 3%;
    margin-left: 10px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.info{
    margin:0 auto;
    width: 75%;

}

.info h3{
    color: #D33B5A;
    font-weight: bold;
}

.categories{
    padding: 5px;
    margin-left: 9px;
    box-shadow:inset 10px 5px 15px 5px rgba(0,0, 0, 0.5);
}

.flex-container div{
    width: 50%;
}

.btn{
    background: #2F7AED;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: auto;
    width: 150px;
    border: none;
    border-radius: 50px;
}

#contact-btn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px;
}

.btn:hover{
    cursor: pointer;
}

#login-btn{
    background-color: #2F7AED;
    border: none;
    border-radius: 50px;
}

/* main-area ends*/

/* contact me starts */

#contact{
    margin: 0.5rem auto;
    width: 500px;
    height: 450px;
    box-shadow: 10px 5px 15px 
    5px rgba(0,0, 0, 0.5);
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.my-form{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
}

form label{
    /* display: block; */
    font-size: 20px;
    margin-top: 10px;
}

.my-form input[type="text"], input[type="email"],input[type="password"], #registration input[type="text"], input[type="email"],input[type="password"], input[type="number"], select{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 7px;
    background: #333;
    border: 1px solid #2F7AED;
    color: #fff;

}

.my-form textarea{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 7px;
    background: #333;
    border: 1px solid #2F7AED;
    color: #fff;
}

.my-form input[type="submit"]{
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
}

.my-form input, textarea{
    outline: none;
}

/* contact me ends */

/* login starts */
#login{
    margin: 7rem auto;
    width: 400px;
    box-shadow: 10px 5px 15px 5px rgba(0,0, 0, 0.5);
    padding-bottom: 20px;
    border-radius: 10px;
    position: relative;
}


/* login ends */

/* registration starts */
#registration{
    margin: 0.5rem auto;
    width: 55%;
    height: 450px;
    box-shadow: 10px 5px 15px 
    5px rgba(0,0, 0, 0.5);
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
}

#registration form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

form input, select{
    outline: none;
}

#registration input[type="text"], input[type="email"],input[type="password"], input[type="number"], select{
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 2px;
}

::placeholder {
    color:#fff;
    opacity: 1;
}

#registration #btn-div{
    margin: auto;
    width: 200px;
}
/* registration ends */



